
/*** Style the breadcrumb ***/

.breadcrumb {
    border-bottom: 4px solid #b6aa88;
    padding-bottom: 2px;
    margin-bottom: 8px;
    clear: left;

    /*
     * If you make it an inline-block, the bottom border will only span the
     * length of the breadcrumb, rather than the entire window.
     *
     * Also, if you wish to have it displayed in the header above the primary
     * menu but below the logo and site name, then do not set it as
     * inline-block and place the breadcrumb block in the HEADER region, above
     * the "Primary navigation" and below the "Header block".
     */

/*  display: inline-block; */
}

.breadcrumb li {
    padding-top: 5px;
    font-weight: bold;
    font-size: .9em;
    color: #796d4a;
}

.breadcrumb li:first-child {
    padding-left: 4px;
}

.breadcrumb li:last-child {
    padding-right: 4px;
}

.breadcrumb a {
    text-decoration: none;
    color: #2987ec;
}

.breadcrumb a:hover {
    color: #796d4a;
    font-weight: bold;
}

