/*** Main menu ***/

/* Style the menu bar */
.block-system-main-menu {
    background: #ededed;
    border-radius: 4px;
    box-shadow: 2px 3px 6px #999;
    margin-bottom: 28px;
    clear: both;
    top: 8px;
}

.block-system-main-menu ul.menu a,
.block-system-main-menu ul.menu a:hover {
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 2em;
    padding-right: 1em;
    padding-left: 0.7em;
    color: black;
}

/* Highlight the menu buttons when hovering over them */
.block-system-main-menu ul.menu a:hover {
    color: #796d4a;
    border-bottom: 4px solid #93adc8;
}

/* Highlight active menu link */
.block-system-main-menu ul.menu a.active {
    border-bottom: 4px solid #81befd;
    color: #796d4a;
}

.menu-dropdown a span.sub-arrow {
    right: 6px;
}

/*
 * Override the core min-width of the drop down sub-menu items.
 * It was extra wide for some reason.
 */
.block-system-main-menu ul.menu li ul {
    min-width: 5em !important;
}

.block-system-main-menu ul.menu li ul a {
    line-height: 1.8em !important;
}



