/*** Styling for side menus ***/

.l-sidebar div[role=navigation] {
    padding-bottom: 1px;
    padding-top: 1px;
/*  border: 1px solid black; */
    border-radius: 4px;
    min-width: 190px;
}

.l-sidebar .menu li {
    list-style-image: url(../images/bullet-arrow.png);
    padding-top: 0px;

    /* Required so that chrome does not screw up the formatting.  Without this,
     * chrome keeps wrapping the menu text right after the list bullet, causing
     * the menu text to be below the bullet, unless you are on a wide screen so
     * that the menu column is wide.
     */
    white-space: nowrap; 
}

.l-sidebar .menu li.first a {
    margin-top: 0px;
}

.l-sidebar .menu a {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: .9em;
    padding: 4px;
    padding-left: 8px;
    font-weight: bold;
    min-width: 8em;
    width: 95%;
    transform: scaleY(1.4);
    margin-top: 12px;
/*  border-top: 2px solid lightgrey; */
    border-bottom: 2px solid lightgrey;
}

.l-sidebar .menu a:hover {
    background: #dedddd;;
}

.l-sidebar .menu a:visited {
    color: black;
}

.l-sidebar .menu li a.active {
    color: #796d4a;
    background: #f4f3f3;
}

/*
 * Allow sub-menu links to get a little narrower, since they are indented, to
 * lessen the chance of overlaping content on narrow windows.
 */
.l-sidebar .menu li ul a {
    min-width: 6em;
}

.l-sidebar .menu li ul li {
    margin-top: 12px;
}

