/*** Search block ***/

.l-header .block-search-form {
    clear: right;
}

.block-search-form {
    float: right;
    width: 15em;
}

.l-header .block-search-form input.form-search {
    margin-left: 20px;
}

.block-search-form input.form-search {
    float: left;
    font-size: 1em;
    width: 9em;
    margin-right: 5px;
    border: 1px solid grey;
    line-height: 1.75em;
    background-color: #e4e6e7;
    border-radius: 3px;
}

.block-search-form input.form-search:focus {
    box-shadow: -1px 1px 3px 0px grey;
    background-color: #eef0f1;
}

.block-search-form input.form-submit {
    width: 5em;
    position:   relative;
    padding: .4em .5em;
    left: -8px;
    border: 2px solid #197795;
    background-color: #197795;
    color: #fafafa;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;

    font-weight: bold;
    font-size: .9em;
}

.block-search-form input.form-submit:hover {
    border: 2px solid #1d89ab;
    background-color: #1d89ab;
}

