
/*** Overall default styles ***/

/*
 * Web safe font options:
 *     Arial, 'Times New Roman', 'Courier New', 'sans-serif'
 *     Helvetica, Times, Courier
 *
 * Fonts that don't seem to exist in firefox or Chrome, even though I found
 * online claims that they are web safe:
 *     Verdana, Georgia, Palatino, Garamond, Bookman, Comic Sans MS,
 *     Trebuchet MS, Arial Black, Impact, 'Proxima Nova Soft'
*/


body {
    font-family: 'Arial', 'sans-serif', 'Times New Roman';
    font-size: 110%;
}

html {
    line-height: 1.3;
}

img.align-left {
    margin-right: 1em;
    margin-top: .7em;
    margin-bottom: .7em;
}

img.align-right {
    margin-left: 1em;
    margin-top: .7em;
    margin-bottom: .7em;
}

/* Node headers */
.view-mode-teaser h2, h1.page-title {
    font-weight: bold;
    font-size: 1.5em;
    color: #32678b;
    text-transform: uppercase;
    transform: scaleY(1.4);
}

.view-mode-teaser h2 a{
    text-decoration: none;
    color: #32678b;
}

/* Highlighting of search result strings */
.search-snippet strong {
    background-color: #e25400;
    color: #fff;
    padding: 0 4px;
}


/*** page layout ***/

/*
 * Content width.  You can control how well your page utilizes wide screens
 * here.
*/
.container {
    max-width: 1500px;
    width: 92%;
}

.block-hero {
    clear: both;
    margin-bottom: 30px;
}

/*
 * Increase the hero block height for wide screens to reduce the cropping of 
 * the background image.  This can be adjusted or disabled by setting
 * "min-height: unset;", depending on the background image and the amount of
 * content in the block.
 */
@media (min-width: 1200px) {
    .block-hero .block-content {
        min-height: 170px;
    }
}

@media (min-width: 1500px) {
    .block-hero .block-content {
        min-height: 200px;
    }
}

.view-mode-teaser h2 {
    clear: right;
}


/*** header ***/

.l-header {
    background: -webkit-linear-gradient(#e1e0e0, white);
}

.logo {
    float: left;
    clear:left;
    margin-right: 10px;
    margin-top: 6px;
}

.logo img {
    max-height: 125px;
}

.name-and-slogan {
    padding-top: 30px;
    float: left;
}

.site-name {
    margin-bottom: 6px;
    font-size: 1.821em;
/*  color: #686868; */
    color: #32678b;
    line-height: 1;
}

.site-name a {
    text-decoration: none;
}

.site-name a:visited {
    color: inherit;
}

/*
 * Backdrop outputs the site name in a <h1> tag on the front page but in a <div>
 * on all the other pages.  This removes the extra space above it as a <h1> so
 * that it positions it the same on the front page as everywhere else.
 *
*/
.block-system-header h1.site-name {
    margin: 0;
}

.site-slogan {
    font-size: 0.929em;
    margin-top: 7px;
    word-spacing: 0.1em;
}

/*
 * Tighten up the logo margin to make as much room as possible on very narrow
 * screens.
*/
@media (max-width: 540px) {
    .logo { margin-right: 2px }
}


/*** sidebars ***/

.l-sidebar div.block {
    margin-top: 15px;
    margin-bottom: 20px;
}

.l-sidebar .block-title {
    padding-left: 8px;
    border-bottom: 4px solid #ccc;
}


/*** footer ***/

.l-footer {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left; 0;
    padding-right; 0;
    margin-top: 10px;
    margin-left: -15px;
    background: #0d313b;
    color: white;
    min-height: 80px;
}

.l-footer a {
    color: #e9d39f;
}

/* Push the "Powered by Backdrop" block down toward the bottom of the footer */
.l-footer .block.block-system-powered-by {
/*  top: 50px; */
}


/*** Style the user login/logout/account menu ***/

.header-menu {
    float: right;
}

.header-menu .links {
    list-style: none;
}

.header-menu li {
    float: left;
/*  font-weight: bold; */
}

.header-menu li a {
    text-decoration: none;
    padding-left: .5em;
    padding-right: .5em;
}

.header-menu li a:hover {
    background: #d0cece;
    color: #0c4fa1;
    padding-left: .5em;
    padding-right: .5em;
    padding-top: .3em;
    padding-bottom: .3em;
}

.header-menu li a:hover:visited {
    color: #0c4fa1;
}

.header-menu li a:visited {
    color: initial;
}


/*** "Submitted by" information for posts ***/

p.submitted {
    border-top: 2px solid #BEB8A0;
    border-bottom: 2px solid #BEB8A0;
    background: #F5F4F0;
    line-height: 1.5em;
    font-style: italic;
    padding-left: 5px;
    color: #6e5d4d;
}


/*** Read more and add comment links ***/

.node-readmore a {
    background: url(../images/bullet-arrow.png) no-repeat left center;
}

.node-readmore a, .comment-add a {
    padding-left: 19px;
    color: #32678b;
    font-weight: bold;
    text-decoration: none;
}

.comment-add a {
    padding-left: 5px;
}

.node-readmore a:hover, .comment-add a:hover {
    text-decoration: underline;
}


/*** More links ***/

.more-link {
    margin-right: 10px;
}

.more-link a {
    background: url(../images/bullet-arrow.png) no-repeat left center;
    padding-left: 19px;
    color: #32678b;
    font-weight: bold;
    text-decoration: none;
}

.more-link a:hover {
    text-decoration: underline;
}


/*** Ubercart shopping cart block ***/

.block-uc-cart-cart {
    float: right;
    clear: both;
    padding: 5px;
}

.l-header .block-uc-cart-cart {
    clear: right;
}

.block-uc-cart-cart .block-title {
    font-size: 1.3rem;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Enlarge the shopping cart icon */
.cart-block-icon-empty {
    background-size: 100%;
    width: 19px;
}


