.portfolio {
	padding: 100px 0;
	.portfolio_wrapper {
		padding: 0 8px;
		.view-header {
			padding: 0 7px;
			h3 {
				font-size: $big-font;
				margin: 0 0 30px;
				text-align: center;
				&:after {
					background: $black;
					content: "";
					display: block;
					height: 3px;
					margin: 15px auto 0 auto;
					width: 150px;
				}
			}
			p {
				font-size: $x-small-font;
				margin: 0 auto 50px;
				max-width: 800px;
				text-align: center;
			}
		}
		.view-content {
			&:before {
				content: "";
				display: table;
			}
			&:after {
				clear: both;
				content: "";
				display: table;
			}
			.views-row {
				float: left;
				margin-bottom: 15px;
				padding: 0 7px;
				width: 25%;
				.views-field-field-portfolio-image {
					overflow: hidden;
					img {
						-webkit-transition: all 1s; /* For Safari 3.1 to 6.0 */
						transition: all 1s;
						vertical-align: top;
						width: 100%;
						&:hover {
							-ms-transform: scale(1.1); /* IE 9 */
							-webkit-transform: scale(1.1); /* Safari 3-8 */
							transform: scale(1.1); 
						}
					}
				}
				.views-field-title {
					box-shadow: 0 0 20px rgba(0,0,0,0.2);
					padding: 15px 10px;
					a {
						color: $black;
						font-weight: bold;
						text-decoration: none;
						-webkit-transition: all 1s; /* For Safari 3.1 to 6.0 */
						transition: all 1s;
						&:hover {
							color: $gray;
						}
					}
				}
				@include lg {
					width: 50%;
				}
				@include md {
					width: 100%;
				}
			}
		}
		.view-footer {
			p {
				margin-top: 50px;
				text-align: center;
				a {
					border: 3px solid #000;
					color: $black;
					font-weight: bold;
					padding: 15px 50px;
					text-decoration: none;
					-webkit-transition: all 1s; /* For Safari 3.1 to 6.0 */
					transition: all 1s;
					&:hover {
						border-color: $light-green;
						color:  $light-green;
					}
				}
			}
		}
	}
}
.view-name-portfolio {
	.l-wrapper {
		.l-middle {
			display: block;
			main {
				max-width: unset;
				width: 100%;
				.view-portfolio {
					margin-left: -8px;
					margin-right: -8px;
					.view-content {
						&:before {
								content: "";
								display: table;
							}
							&:after {
								clear: both;
								content: "";
								display: table;
							}
						.views-row {
							float: left;
							margin-bottom: 30px;
							padding: 0 7px;
							width: 25%;
							.views-field-field-portfolio-image {
								overflow: hidden;
								img {
									-webkit-transition: all 1s; /* For Safari 3.1 to 6.0 */
									transition: all 1s;
									vertical-align: top;
									width: 100%;
									&:hover {
										-ms-transform: scale(1.1); /* IE 9 */
										-webkit-transform: scale(1.1); /* Safari 3-8 */
										transform: scale(1.1); 
									}
								}
							}
							.views-field-title {
								background: $white;
								box-shadow: 0 0 20px rgba(0,0,0,0.2);
								height: 100px;
								padding: 10px 7px;
								a {
									color: $gray;
									font-size: $x-small-font;
									text-decoration: none;
									&:hover {
										color: $light-green;
									}
								}
							}
						}
					}
				}
			}
			.l-sidebar {
				display: none;
			}
		}
	}
}