.block:first-of-type,
.block {
	margin-top: 0;
	padding-top: 0;
}

.field-label {
	padding: 0;
}

.time-zones {
	border: 1px solid black;
	font-size: 80%;
	margin: 0 5%;
}

.time-zones p {
	display: none;
}

.time-zones .header {
	display: block;
	font-size: 130%;
	color: #840d0d;
	font-weight: 900;
	padding: 15px 5px 10px;
}

.city {
	font-size: 100%;
	font-weight: 900;
}

.zone {
	width: 100%;
	padding: 3px 5px;
	text-align: center;
}

.zone.odd {
	background-color: #D1CCCC;
}

.view-sessions .one {
	background-color: white;
}

.view-sessions .two {
	background-color: #626368;
}

.view-sessions .three {
	background-color: #6B6F81;
}

.view-sessions .four {
	background-color: #54565D;
}

.view-sessions .five {
	background-color: white;
}

.view-sessions .six {
	background-color: #626368;
}

.view-sessions .seven {
	background-color: #6B6F81;
}

.view-sessions .eight {
	background-color: #54565D;
}







