td {
    border: 0.0625rem solid #4b64f000;
    
  }




  .shane-class {

    text-align: center;

    
  }

  .shane-class h2 {

    font-size: 1.2rem;
  }

 h6 {

 padding-right: 50px;
   padding-left:50px; 
  }
  /* .shane-class .title {

    //max-width: 300px;
  } */

  .home-header {
    text-align: center;
  }

  header.l-header {
      background-color: #0074bd;
  }