/**
 * @file
 * Shasetsu theme styles.
 *
 * Override styles of Basis, and add custom styles.
 */

/*  == Fonts ================================== */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/RobotoSlab-Regular.ttf');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/RobotoSlab-Bold.ttf');
}

/*  == Layout ================================= */
@media (min-width: 48em) {
  .layout--moscone-flipped .l-sidebar.col-md-3,
  .layout--moscone .l-sidebar.col-md-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.333333%;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .layout--moscone-flipped .l-content.col-md-9,
  .layout--moscone .l-content.col-md-9 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.666667%;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .layout--moscone .l-content.col-md-push-3 {
    left: 33.333333%;
  }
  .layout--moscone .col-md-pull-9 {
    right: 66.666667%;
  }
}

/* == General ================================= */
body {
  color: #424242;
}

/* Links + Buttons */
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: #d50000;
}
.field-name-body a {
  color: #d50000;
  text-decoration: underline;
}
.more-help-link a:before {
  background: #d50000;
  line-height: 1.3;
}
.commenter-name a {
  font-family: "Roboto Slab", serif;
}
.links li::before,
.links li::after {
  border-color: #d50000;
}
.button,
input.form-submit,
input.button-primary,
.node-readmore a {
  display: inline-block;
  height: 2.375rem;
  border: 0;
  border-radius: 0.25rem;
  box-shadow: inset 0 0 0 2px #424242;
  padding: 0 1.5rem;
  background: #424242;
  color: #fff;
  cursor: pointer;
  font-family: "Roboto Slab", serif;
  font-size: 0.6875rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
  line-height: 2.375rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  appearance: none;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
.button:hover, .button:focus,
input.form-submit:hover, input.form-submit:focus,
input.button-primary:hover, input.button-primary:focus,
.node-readmore a:hover {
  color: #424242;
  background: #fff;
}

/* Headings */
h1, h2, h3, h4,
.field-name-body h3,
.field-name-body h4 {
  color: #424242;
  font-family: "Roboto Slab", serif;
}
h1 {
  margin: 0 0 1rem;
  font-size: 3rem;
}
h2,
.field-name-body h3 {
  font-size: 1.5rem;
}
h3,
.field-name-body h4 {
  font-size: 1.125rem;
}
h4,
.field-name-body h5 {
  font-size: 1rem;
  font-weight: normal;
}
h5,
h6 {
  color: #424242;
  font-size: 1rem;
  font-weight: normal;
}

/* Inputs + Form elements */
input.form-text,
input.form-autocomplete,
input.form-color,
input.form-date,
input.form-time,
input.form-email,
input.form-file,
input.form-number,
input.form-search,
input.form-tel,
input.form-url,
textarea.form-textarea,
select.form-select {
  border: 2px solid #d0d0d0;
  border-radius: 0.25rem;
}
input.form-text:focus,
input.form-email:focus,
input.form-url:focus,
input.form-search:focus,
textarea.form-textarea:focus {
  border-color: #d50000;
}
input.form-search {
  width: 100%;
  border: 1px solid #d0d0d0;
  border-radius: 0.25rem;
}
select.form-select {
  border: 2px solid #d0d0d0;
  border-radius: 0.25rem;
}
fieldset {
  border-color: #d0d0d0;
}
fieldset .fieldset-legend {
  padding-top: 1rem;
  font-size: 0.875rem;
  text-transform: none;
}
.form-item label {
  font-family: "Roboto Slab", serif;
  font-weight: normal;
}

/* Tables */
caption {
  font-family: "Roboto Slab", serif;
}
th {
  border-right-color: #bdbdbd;
  background: #e0e0e0;
  font-family: "Roboto Slab", serif;
}
table [aria-sort="ascending"] a,
table [aria-sort="ascending"] a:after {
  border-bottom-color: #616161;
}
.draggable a.tabledrag-handle {
  background: #e0e0e0;
}
tr.draggable .handle,
tr.draggable .handle .handle-inner {
  background: #616161;
}

/* Tabs */
nav.tabs:before {
  background-color: #757575;
}
ul.primary li a,
ul.primary li a:visited,
ul.primary li a:hover,
ul.primary li.active a {
  border-color: #757575;
  background-color: #e0e0e0;
}
ul.primary li a:hover,
ul.primary li.active a {
  background: #bdbdbd;
  color: #000;
}
ul.secondary {
  font-size: 0.875rem;
  padding: 16px 23px 6px;
  margin: 0 -20px 0;
  line-height: 1.385em;
}
ul.secondary li a {
  border: none;
  border-radius: 3px;
  background: #e0e0e0;
  font-weight: normal;
}
ul.secondary li a:hover {
  border: none;
  border-radius: 0.1875rem;
  background: #bdbdbd;
  color: #000;
}
ul.secondary li.active a,
ul.secondary li.active a:hover,
ul.secondary li.active a.active {
  border: none;
  border-radius: 0.1875rem;
  background: #757575;
  color: #fff;
}
.vertical-tab-link {
  background: #e0e0e0;
}
.vertical-tab-link:focus,
.vertical-tab-link:active,
.vertical-tab-link:hover {
  background: #eee;
}

/* Pager */
.pager-first,
.pager-previous,
.pager-ellipsis,
.pager-current,
.pager-next,
.pager-last,
.pager-item {
  background: #e0e0e0;
  color: #616161;
}
.pager-first {
  border-bottom-left-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
}
.pager-last {
  border-bottom-right-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.pager-current {
  background: #bdbdbd;
  color: #000;
}
.pager-first a,
.pager-previous a,
.pager-next a,
.pager-last a,
.pager-item a {
  display: inline-block;
  color: #616161;
}
.pager-first a:hover,
.pager-previous a:hover,
.pager-next a:hover,
.pager-last a:hover,
.pager-item a:hover {
  background: #757575;
  color: #fff;
}

/* Other elements */
.breadcrumb {
  display: inline-block;
  background: #eee;
  font-size: 0.75rem;
}
hr {
  border: 1px solid #bdbdbd;
}
pre,
code {
    color: #424242;
}
code {
  border: 0;
  background: #e0e0e0;
}
pre code {
  border-left-color: #bdbdbd;
}
blockquote,
figcaption {
  border-left-color: #bdbdbd;
  font-style: italic;
}
.marker {
  background: #d50000;
  color: #fff;
  text-transform: capitalize;
}
.ui-dialog .ui-dialog-titlebar-close {
  background: none;
}

/* == Header ================================== */
.l-header {
  background: #fff;
}
.l-header-inner {
  min-height: unset;
}
.header-site-name-wrapper {
  margin-top: 0.5rem;
  font-size: 1rem;
}
.header-identity-wrapper strong {
  font-weight: bold;
}
.header-logo-wrapper {
  display: none;
}
.header-site-name-link {
  padding: 0;
  background: none;
  color: #000;
  text-decoration: none;
}
.header-site-name-link:hover {
  color: #d50000;
}
.header-site-slogan {
  height: auto;
  padding: 0 0 0 0.375rem;
  color: #616161;
  font-size: 0.875rem;
  line-height: 1.6;
}
.l-header a {
  padding-top: 0;
  padding-bottom: 0;
  color: #424242;
  line-height: 1.6;
}
.l-header a:hover {
  text-decoration: none;
}
.l-header .header-menu {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
}
.l-header .header-menu a {
  color: #616161;
}
.l-header .header-menu a:hover {
  text-decoration: underline;
}
.l-header .header-menu .last a {
  padding-right: 0;
}
.l-header .menu-toggle-button {
  position: relative;
  bottom: 0.875rem;
  margin-left: 1.25rem;
}
.l-header .block-system-main-menu {
  margin-top: -3.0625rem;
}
.menu-toggle-button-icon,
.menu-toggle-button-icon::before,
.menu-toggle-button-icon::after {
  background-color: #d50000;
}
.l-header .menu-toggle-button-text {
  visibility: hidden;
}
.menu-dropdown {
  font-family: "Roboto Slab", serif;
}
.menu-dropdown a span.sub-arrow {
  width: 3.6875rem;
  height: 3.6875rem;
  border-right: none;
  background: none;
}

@media (min-width: 34em) {
  .header-site-slogan {
    margin-top: 0.5rem;
    font-size: 1rem;
  }
}
@media (min-width: 48em) {
  .l-header-inner {
    padding: 4rem .9375rem 1rem;
  }
  .header-site-name-wrapper {
    margin-top: 0;
  }
  .header-logo-wrapper {
    display: block;
    margin-top: -1.3125rem;
    margin-left: 0;
  }
  .front .layout--boxton .header-logo-wrapper {
    margin-top: -2.9375rem;
  }
  .header-site-slogan {
    margin-top: 0;
  }
  .l-header .header-menu {
    font-size: 1rem;
  }
  .menu-dropdown ul {
    background: #eee;
  }
  .l-header .menu-dropdown .first {
    margin-left: -1.25rem;
  }
  .l-header .menu-dropdown ul .first {
    margin-left: 0;
  }
  .menu-dropdown ul a {
    color: #424242;
  }
  .menu-dropdown ul a:hover,
  .menu-dropdown ul a:focus,
  .menu-dropdown ul a:active,
  .menu-dropdown ul a.highlighted {
    background: #e0e0e0;
    color: #424242;
  }
  .js .menu-dropdown li.has-children > a {
    padding-right: 1.25rem;
  }
  .menu-dropdown a span.sub-arrow {
    display: none;
  }
  .js .menu-dropdown > li:hover,
  .js .menu-dropdown > li.has-children > a:hover,
  .js .menu-dropdown > li.has-children > a:focus {
    background-color: #eee;
  }
}

/* == Hero block ============================== */
.block-hero,
.l-top .block-hero {
  margin-top: 1rem;
  min-height: unset;
  background-color: #f5f5f5;
  background-image: unset;
}
.block-hero .block-title {
  font-size: 3rem;
  font-weight: bold;
}

/* == Sidebar ================================= */

/* Sidebar Toggle */
#skip-link {
  position: relative;
  pointer-events: none;
}
#skip-link:after {
  content: "=";
  position: fixed;
  top: 1rem;
  left: 1.25rem;
  color: #d50000;
  cursor: pointer;
  font-size: 2rem;
  pointer-events: auto;
  z-index: 999;
}
.layout--boxton #skip-link:after {
  display: none;
}
.sidebar-active #skip-link:after {
  content: "x";
  left: 94%;
  font-size: 1.25rem;
}
.l-sidebar {
  display: none;
  padding-right: 0;
  padding-left: 0;
  background: #f5f5f5;
}
.sidebar-active .l-sidebar {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 90%;
  z-index: 2;
}

/* Sidebar Blocks + Content; */
.l-sidebar .block {
  max-width: 400px;
  padding: 1rem;
}
.l-sidebar .block-system-header {
  background: #e0e0e0;
}
.l-sidebar .block-system-header .header-menu a {
  padding: 0 4px;
}
.l-sidebar .block-system-header .header-menu .first a {
  padding-left: 0;
}
.l-sidebar .block-system-header .header-menu .last a {
  padding-right: 0;
}
.l-sidebar .block-search-form {
  background: #eee;
}
.l-sidebar .form-type-search {
  margin-bottom: 0;
  font-size: 0.875rem;
}
.l-sidebar .block-title {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 1.25rem;
  text-transform: uppercase;
}
.l-sidebar .block-content {
  color: #616161;
  font-size: 0.875rem;
}
.l-sidebar .block-system-powered-by .block-content {
  margin-top: 1rem;
}

/* Sidebar Menu */
.l-sidebar .block-system-main-menu {
}
.l-sidebar .menu {
  padding: 0;
  list-style-type: none;
}
.l-sidebar .menu ul {
  padding-left: 1.25rem;
  list-style-type: none;
}
.l-sidebar .menu li {
  padding: 0.5rem 0 0;
}
.l-sidebar .menu li a {
  padding: 0.5rem 0;
  color: #424242;
  text-decoration: none;
  text-transform: uppercase;
}
.l-sidebar .menu li a:hover {
  color: #d50000;
}
.l-sidebar .menu li a.active,
.l-sidebar .menu li a.active-trail {
  font-weight: bold;
}

@media (min-width: 34em) {
  #skip-link:after {
    top: 0.5rem;
  }
}
@media (min-width: 48em) {
  #skip-link:after {
    display: none;
  }
  .l-sidebar {
    display: block;
    position: relative;
  }
}

/* == Main Content ============================ */
.l-content {
  background: #fff;
  font-size: 0.9375rem;
}
.front .l-content {
  padding-right: 0;
}

/* Block Promoted Home */
.view-promoted h2 {
  display: inline-block;
  font-weight: bold;
}

/* Nodes */
p.submitted {
  margin-top: 0.875rem;
  font-size: 0.75rem;
}
.view-mode-teaser .content {
  margin-bottom: 0;
}
.view-mode-teaser .field-name-field-image img {
  border-radius: 0.125rem;
}
.view-mode-teaser .align-right {
  float: none;
  margin: 1rem 0 0 0;
}
.view-mode-teaser .field-name-field-tags {
  margin: 1rem 0 2.75rem;
  font-size: 0.75rem;
}
.view-mode-teaser .field-name-field-tags .field-item {
  float: left;
  margin-right: 0.25rem;
}
.node-readmore {
  margin-top: 1rem;
}

/* Comments */
.comment .comment-text {
  border-color: #e0e0e0;
}
.comment-header:before {
  border-bottom-color: #e0e0e0;
  border-left-color: #e0e0e0;
}
.comment-footer {
  background: #e0e0e0;
}
.links .comment-add,
.links .comment-forbidden,
.links .comment-comments {
  margin-top: 1rem;
  font-size: 0.75rem;
}
.comment-footer .links a {
  font-size: 0.75rem;
}

@media (min-width: 34em) {
  .view-mode-teaser .align-right {
    float: right;
    margin: 0.375rem 0 0.5rem 0.5rem;
  }
}
@media (min-width: 48em) {
  .view-promoted .view-content {
    display: flex;
    flex-wrap: wrap;
  }
  .view-promoted .view-content > div {
    width: 48%;
  }
  .view-promoted .view-content > div:nth-of-type(odd) {
    margin-right: 2%;
  }
  .view-promoted .view-content > div:nth-of-type(even) {
    margin-left: 2%;
  }
  .view-mode-teaser .align-right {
    float: none;
    margin: 0.375rem 0 0 0;
  }
}
@media (min-width: 62em) {
  .layout--moscone-flipped .l-content {
    padding-right: 4rem;
  }
  .layout--moscone .l-content {
    padding-left: 4rem;
  }
  .view-mode-teaser .align-right {
    float: right;
    margin: 0.375rem 0 0.5rem 0.5rem;
  }
}
@media (min-width: 75em) {
  .layout--moscone .l-content {
    padding-left: 8rem;
  }
  .layout--moscone-flipped .l-content {
    padding-right: 8rem;
  }
  .view-mode-teaser .align-right {
    margin: 0.375rem 0 1.5rem 1.5rem;
  }
}


/* == Footer ================================== */
.l-footer {
  border-top: 3px solid #424242;
  background: #f5f5f5;
  font-family: "Roboto Slab", serif;
}
