/**
 * @file
 * Drupal Form Styles
 */
.form-item,
/* @todo figure out why comment body field doesn't have form-item class */
.field-name-comment-body {
  padding: 0;
  margin: 0 0 1.5em;
}

label {
  display: inline-block;
  font-weight: 600;
}

.form-type-textarea label,
.form-type-textfield label,
.form-type-select label,
.form-type-file label,
.form-type-password label {
  display: block;
  margin: 0 0 0.25em;
}

.form-item-radios label,
.form-item-checkboxes label {
  display: block;
  margin: 0 0 0.8em;
}

.form-item-radio label,
.form-radios label,
.form-item-checkbox label,
.form-checkboxes label {
  display: inline-block;
  font-weight: 400;
  margin: 0;
}

.form-radios .form-item:last-child,
.form-checkboxes .form-item:last-child {
  margin: 0;
}

.filter-wrapper .form-item,
.teaser-checkbox .form-item,
.form-item .form-item {
  padding: 0.3125em 0;
  margin: 0;
  border: 0;
}

.form-type-checkbox {
  padding: 0;
}

.text-format-wrapper .form-item {
  padding-bottom: 0;
}

.form-item label {
  margin: 0 0 0.625em;
}

.field-label label {
  margin: 0;
  padding: 0;
}

.form-item input.form-radio,
.form-item input.form-checkbox {
  vertical-align: middle;
  margin-right: 0.3125em;
}

.form-disabled input.form-autocomplete,
.form-disabled input.form-text,
.form-disabled input.form-tel,
.form-disabled input.form-email,
.form-disabled input.form-url,
.form-disabled input.form-color,
.form-disabled input.form-number,
.form-disabled input.form-search,
.form-disabled input.form-file,
.form-disabled textarea.form-textarea,
.form-disabled select.form-select {
  background-color: #eee;
  color: #777;
}

td.checkbox .form-item input {
  margin: 0;
}

/* Filter */
.filter-wrapper {
  border-top: 0;
  padding: 0 0.125em;
}

.filter-wrapper .fieldset-wrapper {
  padding-top: 3.774em;
}

.filter-wrapper .form-item,
.filter-wrapper .filter-guidelines,
.filter-wrapper .filter-help {
  font-size: 0.923em;
  padding: 0.125em 0 0 0;
}

.filter-wrapper .form-item label {
  font-weight: normal;
}

.form-item .description,
.password-strength,
.password-match {
  border-left: 0.25em solid #c6cad2;
  margin: 0.6875em 0 2.5em;
  padding: 0.5em 0.8em;
}

.form-item-radios .description,
.form-item-checkboxes .description {
  margin-top: 0.375em;
}

.resizable-textarea + .description,
.form-item-date .description,
.form-item-select .description {
  margin-top: 0.875em;
}

.field-suffix {
  display: block;
  padding: 0.5em 0 0;
}

.field-suffix .machine-name-value {
  display: inline-block;
  margin: 0 0.5em;
  padding: 0.375em;
  border: 0.0625rem solid #dee2ea;
  font-family: Consolas, 'Lucida Console', 'Courier New', monospace;
}

.password-strength {
  padding-top: 0.375em;
}

ul.tips {
  margin: 0.25em 0.25em 0;
  padding: 0 1em;
}

.node-readmore a,
input.form-submit,
button.form-submit,
.button {
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  color: #444b53;
  background: #e5e5e6;
  letter-spacing: 0.025em;
  line-height: 2.875;
  border: 0;
  padding: 0 1.5625em;
  margin-bottom: 1em;
  margin-right: 1em; /* LTR */
  -webkit-transition:
    background-color 0.6s ease 0s,
    color 0.6s ease 0s;
  transition:
    background-color 0.6s ease 0s,
    color 0.6s ease 0s;
}

[dir="rtl"] input.form-submit,
[dir="rtl"] .button {
  margin-left: 1em;
  margin-right: 0;
}

.form-managed-file input.form-submit {
  margin-left: 0.5em; /* LTR */
  position: relative;
  top: 0.0625em;
}

[dir="rtl"] .form-managed-file input.form-submit {
  margin-left: 0;
  margin-right: 0.5em;
}

.button:hover,
input.form-submit:hover,
.button:focus,
input.form-submit:focus {
  text-decoration: none;
  background-color: #abdeff;
  border-color: #abdeff;
}

.button,
input.form-submit:active {
  /* @todo, decide on an active state */
  text-decoration: none;
  background-color: #CFDE56;
  border-color: #CFDE56;
  box-shadow: 0 0 0.3125em #dcdcdc;
}

input.form-button-disabled,
input.form-button-disabled:active {
  background: #eee;
  border-color: #eee;
  text-shadow: none;
  color: #999;
}

input.button-primary,
button.button-primary {
  color: white;
  border-color: #0074bd;
  background-color: #0074bd;
}

input.button-primary:hover,
input.button-primary:focus,
button.button-primary:hover,
button.button-primary:focus {
  border-color: #114a75;
  background-color: #114a75;
}

input.button-secondary,
button.button-secondary {
  color: #828188;
  background-color: white;
  box-shadow: inset 0 0 0 0.125em #97979e;
}

input.button-secondary:hover,
input.button-secondary:focus,
button.button-secondary:hover,
button.button-secondary:focus {
  color: white;
  background-color: #97979e;
}

input.button-danger,
button.button-danger {
  color: #e7251b;
  background-color: transparent;
  box-shadow: inset 0 0 0 0.125rem #e7251b;
}

input.button-danger:hover,
input.button-danger:focus,
button.button-danger:hover,
button.button-danger:focus {
  color: #fff;
  background-color: #e7251b;
}

input.form-autocomplete,
input.form-text,
input.form-tel,
input.form-email,
input.form-url,
input.form-color,
input.form-number,
input.form-search,
input.form-file,
textarea.form-textarea {
  box-sizing: border-box;
  max-width: 100%;
  padding: 0.625em;
  border: 0.125rem solid #d0d0d0;
  font-weight: 400;
  color: #444b53;
  background: #fff;
  -webkit-transition: border-color 0.25s ease-in-out;
  transition: border-color 0.25s ease-in-out;
  will-change: border-color;
}

input.form-text,
input.form-email,
input.form-url,
input.form-search,
textarea.form-textarea {
  max-width: 100%;
}

select.form-select {
  box-sizing: border-box;
  padding: 0.625em;
  border: 0.125rem solid #d0d0d0;
  font-weight: 400;
  color: #444b53;
  background: #fff;
  will-change: border-color;
}

select.form-select:focus {
  color: #000;
  border-color: #43afe4;
}

/* de-emphasize the text format */
select.filter-list {
  padding: 0.125em 0.5em;
  margin-left: 0.3125em; /* LTR */
}

[dir="rtl"] select.filter-list {
  margin-left: 0;
  margin-right: 0.3125em;
}

input.form-text:focus,
input.form-tel:focus,
input.form-email:focus,
input.form-url:focus,
input.form-color:focus,
input.form-number:focus,
input.form-search:focus,
input.form-file:focus,
textarea.form-textarea:focus {
  outline: 0;
  color: #000;
  border-color: #43afe4;
}

ul.action-links {
  margin: 1em 0;
  padding: 0 1.25em 0; /* LTR */
  list-style-type: none;
  overflow: hidden;
}

ul.action-links li {
  float: left; /* LTR */
  margin: 0 1em 0 0; /* LTR */
}

[dir="rtl"] ul.action-links li {
  float: right;
  margin: 0 0 0 1em;
}

ul.action-links a {
  padding-left: 0.9375em; /* LTR */
  background: transparent url(../images/add.png) no-repeat 0 center;
  line-height: 1.875;
}

[dir="rtl"] ul.action-links a {
  padding-left: 0;
  padding-right: 0.9375em;
  background-position: right center;
}
