/**
 * @file
 * Fancy checkbox styles
 */
.fancy-checkbox {
  /* Hide checkbox for sighted users in favor of pretty checkbox */
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  width: 1px;
  height: 1px;
}

.fancy-checkbox-label {
  position: relative;
  display: inline-block;
  padding: 0 0 0 1.2em;
  cursor: pointer;
}

.fancy-checkbox-label:before,
.fancy-checkbox-label:after {
  content: '';
  position: absolute;
  display: block;
}

.fancy-checkbox-label:before {
  top: 0;
  left: 0;
  /* Old Safari doesn't allow calc in transform, so translating 2x */
  -webkit-transform:
    translate(0, 0.8em)
    translate(0, -50%);
  transform:
    translate(0, 0.8em)
    translate(0, -50%);
  width: 0.6em;
  height: 0.6em;
  border: 0.125rem solid #0074bd;
}

.fancy-checkbox-label:after {
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  -webkit-transform:
    translate(0.42em, -0.44em)
    rotate(45deg);
  transform:
    translate(0.42em, -0.44em)
    rotate(45deg);
  -webkit-transition:
    width 0.2s,
    height 0.2s,
    transform 0.2s;
  -webkit-transition:
    width 0.2s,
    height 0.2s,
    -webkit-transform 0.2s;
  transition:
    width 0.2s,
    height 0.2s,
    -webkit-transform 0.2s;
  transition:
    width 0.2s,
    height 0.2s,
    transform 0.2s;
  transition:
    width 0.2s,
    height 0.2s,
    transform 0.2s,
    -webkit-transform 0.2s;
  will-change: width, height, transform;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

:checked + .fancy-checkbox-label:after {
  -webkit-transform:
    translate(0.42em, -0.44em)
    rotate(45deg);
  transform:
    translate(0.42em, -0.44em)
    rotate(45deg);
  -webkit-transform-origin: top right;
  transform-origin: top right;
  width: 0.14em;
  height: 0.35em;
  border: 0.125rem solid #000;
  border-top: 0;
  border-left: 0;
}
